.cus-nav {
    margin-bottom: 25px;
}

.cus-det{
    margin-bottom: 15px;
}

.cus-but {
    margin-top: 15px;
    margin-bottom: 15px;
}

.cus-img {
    margin: 15px;
    height: 200px;
    width: auto;
}
