{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="{{ MEDIA_URL }}{{ user.avatar.url }}" height="200" width="auto">
            <h3>Username: {{ user.name }}</h3>
            <h4>ФИО: {{ user.full_name }}</h4>
            <h5>Номер телефона: {{ user.phone }}</h5>
            <h5>Дата рождения: {{ user.date_birth }}</h5>
            {% if user.is_admin %}
            <div class="alert alert-success">
                <center>
                    Администратор
                </center>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
